In [9]:
csb = {"이름" : "홍길동", "나이" : 20, "키" : 168}

class1_4 = {"이름" : ["홍길동", "김철수", "최영희"],
            "나이" : [20, 21, 22],
            "키" : [168, 177, 204]}

In [10]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [11]:
class1_4["발 사이즈"] = [290, 275, 240]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [12]:
del class1_4["발 사이즈"]
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [ ]:
class1_4.keys()

In [13]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [14]:
for i in class1_4:
    print(i)

이름
나이
키

### classs1 4의 "이름" key에 할당된 value들을 전부 성을 뺀 이름들로 출력하고 싶습니다.

- 홍길동 > 길동
- 김철수 > 쳘수
- 김영희 > 영희

In [20]:
new_name = []
for i in class1_4["이름"]:
    new_name.append(i[1:])
class1_4["이름"] = new_name
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [21]:
jegop = [i**2 for i in range(10)]
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.

In [23]:
scores = {'홍길동':{'수학':99, '영어':80, '국어':75},
          '김미정':{'영어':67, '국어':87, '수학':55},
          '정수진':{'수학':67, '국어':41, '영어':23}}

- 이 때, 학생들의 평균을 저장하는 새로운 항목을 추가하고 싶다.
- scores에 학생들의 수학, 영어, 국어 평균 성적을 기록한 "성적" 정보를 추가해주세요.

In [35]:
math = 0
eng = 0
kor = 0
for i in scores:
    math = math + scores[i]["수학"]
    eng = eng + scores[i]["영어"]
    kor = kor + scores[i]["국어"]
    
scores["평균 점수"] = {"국어" : kor/len(scores), "영어" : eng/len(scores), "수학" : math/len(scores)}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균 점수': {'국어': 67.66666666666667,
  '영어': 56.666666666666664,
  '수학': 73.66666666666667}}

In [37]:
dirty = 73.66666666666667
round(dirty)

74

In [38]:
import math

In [39]:
math.floor(dirty)

73

In [40]:
math.ceil(dirty)

74

In [41]:
round(dirty, 2)

73.67

In [45]:
int(1.6)

1

### 카카오문제

In [49]:
new_id = input("새로운 아이디를 입력해주세요.")
    
allowed = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p' ,'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "0",  "-", "_", "."]

#1단계
new_id = new_id.lower()

#2단계
for i in new_id:
    if i not in allowed:
        new_id = new_id.replace(i, "")
        
#3단계
while ".." in new_id:
        new_id = new_id.replace(".."".")
        
#4단계
if i in allowed:
        new_id = new_id.del(.)
#5단계
if new_id == "":
    print
#6단계
if len(new_id) >= 16:
    
    
#7단계
print(new_id)

SyntaxError: invalid syntax (1356065742.py, line 15)